---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import heroLogo from "../Images/heroLogo.svg";
import Card from "../components/Card.astro";
import mail from "../Images/mail.svg";
import phone from "../Images/phone.svg";
---

<Layout title="ELAS">
  <section class="hero">
    <div class="container">
      <div class="h1-group">
        <Image src={heroLogo} alt="logo" width="130" height="130"></Image>

        <h1>Website under construction</h1>
      </div>
    </div>
  </section>
  <section class="announcement">
    <div class="container">
      <h2>
        We're excited to announce that Elas is evolving into three distinct
        divisions. <br />
         Get to know our dedicated directors leading the way!
      </h2>
      <div class="grid">
        <!-- <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div> -->
      <Card image="../../nemanja.png" name="Nemanja Vučić" job="Industrial" desc="Versatile and tailored sheet metal parts and products for industrial applications"></Card>
      <Card image="../../bojan.png" name="Bojan Knežević" job="Kiosk" desc="Sports betting, Casino, Check-in, Pre-boarding, Finance and Retail"></Card>
      <Card image="../../boris.png" name="Boris Petrović" job="Railway" desc="Ceiling systems & Diverse Interior Components"></Card>
      </div> 
    
</div>
  </section>

  <footer>
    <div class="container">
      <div class="content-wrapper">
        <div>
            <h2 class="footer-heading">Location:</h2>
            <div  class="location-wrapper">
              <p>Ramićka</p>
      <p>Poslovna zona Banja Luka,</p>
      <p>78000 Banja Luka,BiH</p>
    </div>
      
        </div>
     <div>
      <h2 class="footer-heading">Contact:</h2>
    
      <div class="contact-wrapper"> 
         <a href="tel:+38751378200">
        <Image src={phone} alt="phone"></Image>
              <p>Central: +387 51 378 200</p>

      </a>
      <a href="mailto:info@elas.ba">
        <Image src={mail} alt="mail"></Image>
              <p>info@elas.ba</p>

      </a>
      <a href="mailto:sales@elas.ba">
        <Image src={mail} alt="mail"></Image>
              <p>sales@elas.ba</p>

      </a>
    </div>
      
     </div>
      
      </div>
      
    </div>
  </footer>
</Layout>

<style>
.card {
  height: 400px;
  width: 300px;
  background: var(--dark);
}

  .h1-group {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    max-width: 600px;
  }
  .hero {
    background-color: var(--gray);
    background-image: url("header-pocetna.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;
    color: white;
    min-height: 600px;
  }
  .announcement {
    padding: 60px 16px 60px 16px;
    text-align: center;
  }
  .announcement h2 {
    color: var(--urbanite);
    max-width: 920px;
    margin: 0 auto 32px auto;
  }
  .grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 32px;
    width: 100%;


  }

  footer {
    background-color: var(--main);
    padding: 60px 16px;
    color:white;
  }

  footer .content-wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .footer-heading {
    font-weight:500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
  }

  .location-wrapper {
    padding-left: 16px;
  }
  .contact-wrapper {
    padding-left: 16px;
  }



  @media only screen and (max-width:1105px) {
    .grid { 
      grid-template-columns: auto auto;
    }
   
  } 
   @media only screen and (max-width:768px) {
    .h1-group { 
      flex-direction: column;
    }

    .grid { 
      grid-template-columns: auto;
    }
   
  }
  @media only screen and (min-width:768px) {
    footer .content-wrapper {
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
  }
  }
</style>
