---
interface Props {
	name: string;
	desc: string;
	job: string;
}

const { name, desc, job } = Astro.props;
---

<div class="card">
	<h4>{name}</h4>
	<h3>{job}</h3>
	<div class="desc-wrapper">
		<p>{desc}</p>

	</div>
</div>
<style>
	.card {
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px 12px 12px 12px;
		background-color: #D1D9DE;
		border-radius: 30px;
	}

	.desc-wrapper {
		background-color: #7F8589;
	}

	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
